@charset "UTF-8";

head {
    font-weight: bold;
    text-align: center;
}

header{
    color:green;
    border-bottom: 2px solid #92cb97;
}

body{
    text-align: center;
}

.button-list{
    display: flex;
    justify-content: center;
}

.input{
    width: 100px;
    height: 40px;
    margin: 10px;
    padding: 10px;
    font-size: 12px;
}

.textform{
    margin-top:30px;
}

.Do-list h1{
    text-align: center;
    padding: 0px;
}

.todo-box{
    width: 50%; 
    height: 300px;
    font-size: 24px;
    border: solid 2px #000;
}

.Done-list h1{
    text-align: center;
    margin-top: 10px;
}


ul{
    position: relative;
    font-size: 24px;
    text-align: left;
    margin-left: 550px;
}

.doneButton{
    text-decoration: line-through;
}

.deleteButton{
    width: 50px;
    height: 40px;
    margin: 10px;
    padding: 10px;
    font-size: 12px;
}
